*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&display=swap');
  .headi{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    

    background: url(backimage.jpg);}
    .box-container{
        position: absolute;
left: 5.24%;
right: 5.3%;
top: 8.22%;
bottom: 77.02%;

background: #FFFFFF;
box-shadow: 0px 10px 15px rgba(2, 2, 2, 0.1);
border-radius: 2px;
display: flex;
justify-content: flex-end;
    }
    .logo{
        position: absolute;
        left: 8.45%;
        right: 82.32%;
        top: 10.78%;
        bottom: 79.59%;
        height: 75px;
        width: 155px;

        background-image: url(logo.jpg);
    }
  
    ul {
        list-style-type: none;
       
        
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: black;
        text-align: end;
        padding: 14px 16px;
        text-decoration: none;
        text-transform: uppercase;
      }
     .face{
        position: absolute;
        left: 84.05%;
        right: 14.17%;
        top: 60.69%;
        bottom: 79.46%;
       
     }
     .insta{
         position: absolute;
        left: 86.9%;
        right: 11.31%;
        top: 60.69%;
        bottom: 79.46%;
        
     }
     .twitter{
        position: absolute;
        left: 89.76%;
        right: 8.45%;
        top: 60.69%;
        bottom: 79.46%;
       
     }
     .title-text{
        position: absolute;
        left: 8.21%;
        right: 5.3%;
        top: 39.15%;
        bottom: 39.02%;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 52px;
        /* or 116% */
        
        letter-spacing: -0.015em;
        
        /* 1 */
        
        color: #2871B7;
        text-transform: uppercase;
     }
     .title-description{
        position: absolute;
        left: 8.21%;
        right: 51.85%;
        top: 71.62%;
        bottom: 27.73%;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 37px;
        /* or 148% */
        
        letter-spacing: -0.015em;
        
        /* noir */
        
        color: #292929;
     }
      .box{
      height:49px ;
      width:302 ;
      background-color: #cd5a83;
      border-radius: 5px;
      }
      